@page
@model ActGIPelectroWeb.Pages.DocumentsModel
@{
    ViewData["Title"] = "Управление отчетностью";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





     <!-- CONTENT -->

<main id="Documents-page">
              <h1>Documents</h1>
    </main>


    <style>
      
    </style>

<!-- CONTENT -->


